@import "master";

.banner{
    @apply w-full h-[11rem] md:h-[17rem] bg-emerald-300 relative;
    .title{
        @apply absolute bottom-1/2 left-1/2 translate-y-1/2 -translate-x-1/2 text-emerald-800 uppercase font-extrabold opacity-50 text-[1.5rem] md:text-[2.2rem];
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
    }
}
.about-us{
    @apply md:my-[8rem] my-8;
    font-family: 'Roboto', sans-serif;

    .title{
        @apply mb-5 text-center text-2xl font-black uppercase text-slate-800 md:leading-10 md:text-[2.5rem] md:font-bold md:mb-[2rem];
        font-family: 'Roboto', sans-serif;
    }
    p{
        @apply text-xs text-justify last:mb-8 md:text-base;
    }
}

.about-guide{
    @apply flex flex-col items-center;

    .double-flex{
        @apply flex flex-row mb-10 md:mb-5 justify-between text-justify;
        .pt{
            @apply flex flex-col flex-1;
        }
        .pi{
            @apply hidden md:flex md:flex-col md:flex-1;
        }
        img{
            @apply w-[75%];
        }
        .title{
            @apply mb-4 text-left font-semibold text-base md:text-2xl;
        }
        .content{
            @apply font-light text-sm md:text-base;
        }
    }
    .special{
        @apply md:border-0 mb-8 bg-emerald-50 border-2 border-emerald-400 px-5 rounded-sm mt-4 flex flex-col h-fit flex-shrink text-left text-xs md:text-sm;
        ol{
            @apply list-decimal text-justify;
            li{
                @apply mb-1;
            }
        }
    }
}

.equip-guide{
    @apply flex flex-col justify-center items-center flex-wrap mt-7;
    .equip-box{
        @apply flex flex-row flex-wrap justify-between py-4;
    }
    .frame{
        @apply relative h-[3cm] w-[3cm] flex-shrink-0 flex-grow-0 overflow-hidden rounded-full bg-white outline outline-4 outline-offset-4 outline-sky-400 md:h-[4cm] md:w-[4cm];
    }
    .desc{
        @apply relative mt-[1rem] w-full max-w-[3cm] bg-red-50 text-center text-sm font-normal;
    }
}