@import "master";

.home-banner {
    @apply items-center justify-center rounded-bl-[8rem] bg-slate-100 px-[0rem] pb-[1rem] pt-[4rem] shadow-sm shadow-slate-500 lg:flex-row lg:px-[18%] md:text-xl lg:rounded-bl-[17rem] lg:pb-[0rem] lg:pr-0 lg:pt-[1rem] md:pb-[8rem];

    .banner-side {
        @apply flex flex-col text-center flex-1;

        &.left {
            @apply items-center px-[20%] pb-4 lg:px-[7%] lg:py-0 mb-4;
        }

        &.right {
            @apply hidden flex-row items-end justify-end lg:flex;
        }
    }

    .banner-title {
        @apply text-center mb-[2rem]  text-[2.7rem] leading-[2.7rem] lg:text-[4rem] lg:leading-[4rem] text-gray-700 font-extrabold lg:text-left;
        font-family: 'Roboto', sans-serif;
    }

    .banner-body {
        @apply text-base mb-[2.7rem] font-normal text-gray-800 dark:bg-inherit dark:text-inherit lg:my-8 lg:text-left lg:text-xl lg:text-[lg];
        font-family: 'Jost', sans-serif;
    }
    .material-icons {
        animation: trans-arrow-button 1s linear infinite forwards;
    }
    .test-button{
        @apply ie-button text-sm px-4 py-2.5 font-extrabold;
        font-family: 'Roboto', sans-serif;
    }
}

.info-banner {
    @apply text-left text-base md:text-lg flex flex-col md:flex-row;
    font-family: 'Roboto', sans-serif;

    div p:not(.subtitle) {
        @apply text-slate-800 mb-5 last:mb-0;
    }
    p.subtitle {
        @apply text-slate-600 text-lg font-bold mb-8 last:mb-0;
    }
    p.subtitle .destak {
        @apply rounded-full px-2 py-0.5 font-medium;
    }

    .side {
        @apply md:flex md:flex-1;
    }
}

section{
    @apply w-full h-fit flex flex-col;
}

@keyframes trans-arrow-button {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(35%);
    }
    100%{
        transform: translateX(0);
    }
}


.ie-carousel {
    &.ibfe-ver .ie-item {
        @apply my-[1rem] w-[75%] md:w-[55%] lg:w-[40%] flex-col items-center rounded-xl border bg-white md:px-8 px-2 py-6 text-center shadow-lg;
    }

    &.ibfe-ver .ie-title {
        @apply mb-4 font-serif text-base font-bold uppercase md:text-2xl lg:text-2xl;
    }

    &.ibfe-ver .ie-description {
        @apply mb-2 text-sm md:text-base;
    }

    &.ibfe-ver .ie-link {
        @apply flex h-fit w-full flex-row flex-nowrap items-center justify-center p-0 text-xs transition-colors hover:text-sky-700 dark:hover:text-emerald-400;
    }

    &.ibfe-ver .material-icons {
        @apply text-sm;
    }
    
    &.ibfe-ver{
        @apply my-[3rem] flex h-fit w-full select-none flex-col items-center justify-center md:my-[5rem] md:mb-[5rem] md:text-lg;
    }
}

.comments-banner{
    .box{
        @apply mb-[3rem] flex h-fit flex-col rounded-lg bg-[#c6ebd6] px-[8%] py-[5%] shadow-lg md:px-[10%] lg:mb-[5rem];

        h1.title{
            @apply mb-8 h-fit w-full text-center text-[1.7rem] mt-4 font-extrabold uppercase text-gray-900 dark:text-emerald-50 lg:text-4xl;
            font-family: 'Roboto', sans-serif;
        }
        .comment-blok{
            @apply justify-center items-center my-[.5rem] flex w-full flex-col rounded-xl bg-[#fffe] p-4 text-start dark:bg-slate-600 dark:text-slate-200 lg:mx-2 mb-1 lg:mb-3;
            .brand{
                @apply h-[3rem] w-[3rem] overflow-hidden rounded-full border;
            }
            h2.name{
                @apply text-sm font-extrabold text-center uppercase lg:text-lg;
                font-family: 'Roboto', sans-serif;
            }
            .local{
                @apply text-[.6rem] font-light md:text-[.8rem];
            }
            .comment{
                @apply mt-4 text-xs text-lime-950 lg:text-sm text-justify;
            }
        }
    }
}